{% extends 'base.html' %}

{% block content %}
{{ super() }}
<p> Добро пожаловать на Главную страницу проекта по Flask:
<p> 1 шаг. Зарегистрируйтесь (<a href="{{url_for('signup_page')}}">кнопка Регистрация</a>) X_X
<p> 2 шаг. Авторизируйтесь (<a href="{{url_for('login_page')}}">кнопка Авторизация</a>) >_<
<p> 3 шаг. Настлаждайтесь шикарным контентом O_O
<p> 4 шаг. Покинте базу данных (<a href="{{url_for('logout_page')}}">кнопка Выход </a>) -_-

{% endblock%}