{% extends 'base.html' %}

{% block content %}
{{ super() }}

{% for cat, msg in get_flashed_messages(True) %}
<div class="flash {{cat}}">{{msg}}</div>
{% endfor %}

<form action="/login" method="post" class="form-contact">
<p><label>Логин: </label> <input type="text" name="username" value="" requied />
<p><label>Пароль: </label> <input type="password" name="psw" value="" requied />
<p><input type="checkbox" value="remainme" /> Запомнить меня
<p><input type="submit" value="Войти" />
<hr align=left width="300px">
<p><a href="{{url_for('signup_page')}}">Зарегистрироваться</a>
</form>
{% endblock%}