{% extends 'base.html' %}

{% block content %}
{{ super() }}

{% for cat, msg in get_flashed_messages(True) %}
<div class="flash {{cat}}">{{msg}}</div>
{% endfor %}
<table border="0" class="profile-table">
    <tr><td valign="top">
        <div class="profile-ava"><img src="{{ url_for('userava') }}"></div>
        <div class="profile-load">
        <form action="{{url_for('upload')}}" method="POST" enctype="multipart/form-data">
            <p><input type="file" name="file">
            <p><input type="submit" value="Загрузить">
        </form>
        </div>
    </td>
    <td valign="top" class="profile-panel">
        <p><a href="{{url_for('logout_page')}}">Выйти из профиля</a>
        <ul class="profile-info">
        <p>Информация о пользователе:
        <li>ID: {{ current_user.get_id() }}</li>
        <li>Имя: {{ current_user.getUsername() }}</li>
        <li>Email: {{ current_user.getEmail() }} </li>
        </ul>
    </td></tr>
</table>
{% endblock %}
